@model Collector.Models.Collection

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" style="max-height: 150px; max-width: 150px;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInteger1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInteger1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInteger1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInteger1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInteger2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInteger2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInteger2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInteger2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInteger3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInteger3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInteger3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInteger3Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString3Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultilineText1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultilineText1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultilineText1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultilineText1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultilineText2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultilineText2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultilineText2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultilineText2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultilineText3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultilineText3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultilineText3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultilineText3Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox3Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDate1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDate1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDate1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDate1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDate2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDate2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDate2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDate2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDate3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDate3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomDate3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomDate3Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
